@{
    ViewBag.Title = "Home Page";
}

<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1>We provide the best <strong>services</strong><br>to accomplish your <strong>idea</strong></h1>
                    <p>
                        We are a leading web development company that delivers innovative solutions to help your business thrive online.
                    </p>
                    <a href="#features" class="main-button-slider">Discover More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->
<!-- ***** Features Small Start ***** -->
<section class="section home-feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img class="w-50" src="~/Content/assets/images/analysis.png" alt=""></i>
                            </div>
                            <h5 class="features-title">Modern Strategy</h5>
                            <p>Revolutionize your online presence with our modern strategy.</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img class="w-50" src="~/Content/assets/images/relationships.png" alt=""></i>
                            </div>
                            <h5 class="features-title">Best Relationship</h5>
                            <p>Building long-lasting partnerships with our clients through exceptional communication and collaboration.</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img class="w-50" src="~/Content/assets/images/social-media.png" alt=""></i>
                            </div>
                            <h5 class="features-title">Ultimate Marketing</h5>
                            <p>Our cutting-edge strategies help you reach your audience and achieve your business goals.</p>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Small End ***** -->
<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="~/Content/assets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                <div class="left-heading">
                    <h2 class="section-title">Let’s discuss about you project</h2>
                </div>
                <div class="left-text">
                    <p>At Let’s Discuss About Your Project, we are passionate about creating innovative web solutions that exceed our clients' expectations. With our team of experienced developers and designers, we are committed to delivering high-quality web development services that help businesses thrive in the digital landscape.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->
<!-- ***** Features Big Item Start ***** -->
<section class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="left-heading">
                    <h2 class="section-title">We can help you to grow your business</h2>
                </div>
                <div class="left-text">
                    <p>At our web development company, we are dedicated to helping you grow your business through innovative and customized web solutions. Our team of experts combines technical expertise and creativity to create websites that drive traffic, increase conversions, and boost your bottom line. Let us help you take your business to the next level.</p>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <img src="~/Content/assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->
<!-- ***** Home Parallax Start ***** -->
<section class="mini" id="work-process">
    <div class="mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <h1>Work Process</h1>
                        <p>Our work process is collaborative and transparent, ensuring seamless communication and timely delivery of high-quality web development solutions.</p>
                    </div>
                </div>
            </div>

            <!-- ***** Mini Box Start ***** -->
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="~/Content/assets/images/strategy.png" class="w-50" alt=""></i>
                        <strong>Strategy</strong>
                        <span>
                            Deciding goals and objectives,
                            Developing team,
                            Formulate a list of tasks
                        </span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="~/Content/assets/images/web-design.png" class="w-50" alt=""></i>
                        <strong>Design and Specification</strong>
                        <span>Design and plan your project with us.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="~/Content/assets/images/medical-result.png" class="w-50" alt=""></i>
                        <strong>Production and desired result</strong>
                        <span>We build and deliver your vision.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="~/Content/assets/images/tools.png" class="w-50"     alt=""></i>
                        <strong>Testing and Maintenance</strong>
                        <span>Ensuring Quality & Performance. Maintenance Support for your Peace of Mind.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="~/Content/assets/images/fixes.png" class="w-50" alt=""></i>
                        <strong>Bug fixing</strong>
                        <span>Fixing bugs quickly to ensure seamless web performance. Our team has got you covered.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="~/Content/assets/images/startup.png"class="w-50" alt=""></i>
                        <strong>Launch</strong>
                        <span>Unveil your brand new web application with a seamless launch process by our experts.</span>
                    </a>
                </div>
            </div>
            <!-- ***** Mini Box End ***** -->
        </div>
    </div>
</section>
<!-- ***** Home Parallax End ***** -->
<!-- ***** Testimonials Start ***** -->
<section class="section" id="testimonials">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">What do they say?</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Our clients love working with us! Here's what a few have to say about their experience partnering with our web development company.</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="~/Content/assets/images/testimonial-icon.png" alt=""></i>
                        <p>Working with this web development company has been a game-changer for our business. Their expertise and dedication to delivering high-quality results exceeded our expectations. </p>
                        <div class="user-image">
                            <img src="~/Content/assets/images/selfie2.png" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name">Patrick Soft</h3>
                            <span>Client</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->
            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="~/Content/assets/images/testimonial-icon.png" alt=""></i>
                        <p>Working with this web development company was a fantastic experience. They truly exceeded our expectations, delivering a top-notch website that helped our business grow. Highly recommended!</p>
                        <div class="user-image">
                            <img src="~/Content/assets/images/selfie3.png" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name">Krysten Wood</h3>
                            <span>Client</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->
            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="~/Content/assets/images/testimonial-icon.png" alt=""></i>
                        <p>The team at this web development company is truly exceptional. They brought our vision to life and exceeded our expectations. We highly recommend their services.</p>
                        <div class="user-image">
                            <img src="~/Content/assets/images/selfie1.png" alt="">
                        </div>
                        <div class="team-info">
                            <h3 class="user-name">Amar Shalad</h3>
                            <span>Client</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->
        </div>
    </div>
</section>
<!-- ***** Testimonials End ***** -->
<!-- ***** Pricing Plans Start ***** -->
<section class="section colored" id="pricing-plans">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Services</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis congue risus volutpat.</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Web application</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">$</span>
                            <span class="price">10,000</span>
                            <span class="period">Approximately</span>
                        </div>
                        <ul class="list">
                            <li class="active p-2">Our web application service provides robust, scalable and secure solutions to businesses of all sizes. We design and develop custom web applications tailored to your unique requirements. Let us help your business grow online.</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#contact-us" class="main-button">Contact us Now</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                <div class="pricing-item active">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Eccomerce</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">$</span>
                            <span class="price">2,000</span>
                            <span class="period">Approximately</span>
</div>
                        <ul class="list">
                            <li class="active p-2">Build an online store with seamless and user-friendly experience, the right extensions, and reliable integration with your other processes. Our ecommerce web development services include building full-scale ecommerce platforms.</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#contact-us" class="main-button">Contact us Now</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Personal website</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">$</span>
                            <span class="price">200</span>
                            <span class="period">Approximately</span>
                        </div>
                        <ul class="list">
                            <li class="active p-2">Our Personal Website service is designed to grab the attention of your target audience and leave a lasting impression. Let us help you showcase your unique brand and expertise with a stunning and personalized website.</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="#contact-us" class="main-button">Contact us Now</a>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
        </div>
    </div>
</section>
<!-- ***** Pricing Plans End ***** -->
<!-- ***** Counter Parallax Start ***** -->
<section class="counter">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>43</strong>
                        <span>Projects</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-top">
                        <strong>30</strong>
                        <span>Happy Clients</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>3800</strong>
                        <span>Hours</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item">
                        <strong>27</strong>
                        <span>Workers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Counter Parallax End ***** -->
<!-- ***** Contact Us Start ***** -->
<section class="section colored" id="contact-us">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Contact us</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Get in touch with us and let's discuss how we can bring your ideas to life. Our team is ready to provide exceptional support and create the perfect solution for you.</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Contact Text Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h5 class="margin-bottom-30">Get in touch</h5>
                <div class="contact-text">
                    <p>
                       Address: St. Saint Kliment Ohridski 1, 5800 Pleven, Bulgaria
                    </p>
                    <p>Phone: +359879564432</p>
                </div>
            </div>
            <!-- ***** Contact Text End ***** -->
            <!-- ***** Contact Form Start ***** -->
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div class="contact-form">
                    <form id="contact" action="" method="get">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button">Send Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- ***** Contact Form End ***** -->
        </div>
    </div>
</section>
<!-- ***** Contact Us End ***** -->
